.container {
  width: 50%;
  margin: auto;
  font-family: 'pixel';
  font-size: min(2.5vw, 25px);
}

.all {
  
  overflow-x: hidden;
  background-image: url("/assets/darkforest.webp");
  
}


.title {
  width: 50%;
  margin: auto;
  text-align: center;
  font-family: 'pixel';
  font-size: min(2.5vw, 50px);
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 20px;
  border: solid 5px whitesmoke;
}

.link {
  
  color: whitesmoke;
  text-decoration: none;
}

.linkContainer {
  display: grid;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  background-color: rgb(136, 0, 0);
  transform: translate(-25px, 0);
  border: dotted 5px rgb(243, 79, 79);
  
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
}

.linkContainer:hover {
  animation: fade 0.2s linear normal;
  background-color: rgb(255, 0, 0);
}

@keyframes fade {
  0% {
    background-color: rgba(146, 0, 0, 0.8);
  }
  100% {
    background-color: rgba(255, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    transform: translate(-25px, 0);
    opacity: 0;

  }
  to {
    transform: translate(0,0);
    opacity: 1;
  }
}

.link {
  margin: auto;
  
}

.a {
  text-decoration: none;
}