.container {
  width: 70%;
  margin: auto;
  font-family: 'pixel';
  font-size: min(2.5vw, 25px);
}

.container2 {
  position: absolute;
  
  width: 100%;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -70%);
}

.all {
  
  overflow-x: hidden;
  background-image: url("/assets/room.gif");
  min-height: 100vh;
  background-size: cover;
  
}

.all2 {
  overflow-x: hidden;
}


.title {
  width: 70%;
  margin: auto;
  text-align: center;
  font-family: 'pixel';
  font-size: min(4vw, 50px);
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 20px;
  border: solid 5px whitesmoke;
  animation: fadeIn 0.5s linear forwards;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}


@keyframes fade {
  0% {
    background-color: rgba(146, 0, 0, 0.8);
  }
  100% {
    background-color: rgba(255, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    transform: translate(0,25px);
    opacity: 0;

  }
  to {
    transform: translate(0,0);
    opacity: 1;
  }
}

.link {
  margin: auto;
  
}

.a {
  text-decoration: none;
}

.search {
  font-size: large;
  border-radius: 5px;
  width: 70%;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  font-family: 'pixel';
  font-weight: 100;
  align-items: center;
  
}
.searchContainer {
  font-size: large;
  border-radius: 5px;
  width: 100%;
  transform: translate(7%, 0);
  padding: 10px;
  font-size: 20px;
  font-family: 'pixel';
  
  font-weight: 100;
  align-items: center;
  overflow-x: hidden;
  
  
}

.search2 {
  font-size: large;
  border-radius: 5px;
  width: 130px;
  padding: 10px;
  font-size: 20px;
  font-family: 'pixel';
  font-weight: 100;
  
}